body {
  margin: 0;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  min-width: 400px;
}
input {
  width: 100%; /* 100% + 10px + 10px */
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #56a3f5;
  margin-bottom: 5px;
}
#save-inp,
#save-tab {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  border: 1px solid#56a3f5;
  padding: 10px 20px;
  background-color: #56a3f5;
  color: white;
}
#delete-btn {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  border: 1px solid#56a3f5;
  padding: 10px 20px;
  background-color: none;
  color: #56a3f5;
}
ul {
  margin-top: 20px;
  list-style: none;
  padding-left: 0;
}
li {
  margin-top: 10px;
}

a {
  color: #057cb3;
}
